# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data

apps/backend/pb_hooks/
apps/backend/pb_migrations/
apps/backend/pb_data/

apps/backend/pocketbase